
*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

html{
    scroll-behavior: smooth;
}

.ir-arriba{

    position: fixed;
    right: 20px;
    bottom: 20px;
    padding: 5px;
    font-size:50px;
    display: none;
   cursor: pointer;
    z-index: 100;
    background: rgba(219, 132, 147,1);
    border-radius: 100%;
    text-decoration: none;
    color: white;
    
}

header{
background: white;
width: 100%;
overflow: hidden;
}

/*Boton menu*/
.btn-menu-class{
    display:none;
    
}

/*menu*/
.menu-class{
  
    
    background: rgba(219, 132, 147,1);
    z-index:1000 ;
    width: 100%;
    text-align: center;
}


.menu-class ul{
list-style: none;
 
}


.menu-class ul li{

    display: inline-block;
    position: relative;
}

.menu-class ul li:hover{
background: rgba(109, 71, 71, 0.5);
}

.menu-class ul li a{
    color:black;
    display: block;
    text-decoration: none;
    padding: 20px;
}
.menu-class ul li a span{
    margin-right: 10px;
}




.menu-class ul li:hover .children{
display: block;
}


.menu-class ul li .children{
    display: none;
    background: rgba(219, 132, 147,1);
    position: absolute;
    width: 150%;
    z-index: 1000;
}

.menu-class ul li .children li{
    display: block;
    border-bottom:1px solid rgba(255,255,255,0.5) ;
overflow: hidden;
}

.menu-class ul li .children li a{
    display: block;
}

.menu-class ul li .children li a span{
    float: right;
    position: relative;
    top: 3px;
    margin-right: 0;
    margin-left: 10px;
}

.menu-class ul li .flecha{
    position: relative;
    top: 3px;
    margin-left:10px ;
    margin-right:0;
}

/*Titulo*/

.titulo-class{
    width: 40%;
    margin-left:30%;
   
    }
    
    
.titulo-class img{
       display:block;
       width: 100%;
           }


 

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

main{
width: 100%;
overflow: hidden;

}

/*seccio 1*/
.section1{
position: relative;
height:100vh;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
padding: 0 20px;
color: white;
font-family: "myfontroboto";
}

.video-class{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: url("img/logo") no-repeat center center/cover;

}

.video-class video{
   min-height: 100%;
   min-width: 100%;
object-fit: cover;
position: absolute;
top: 50%;
left: 50%;
  transform: translate(-50%,-50%);
}

.video-class::after{

    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.textovideo-class{
z-index: 0;
font-style: oblique;
}

.enlace-video{

    display: inline-block;
    padding: 10px 30px;
    background: rgb(180, 140, 206);
    color: white;
    border: 1px white solid;
    border-radius: 5px;
    margin-top: 25px;
    opacity: 0.7;
    text-decoration: none;
}

.enlace-video:hover{
    transform: scale(0.98);
}



/*seccion 2*/
.section2{
    padding: 40px;
    text-align: center;
   line-height: 1.5;
    }

.section2 p{
font-size: 1.2rem;
max-width: 600px;
margin: auto;
font-family: "myfontroboto";
}
.section2 h1{
    font-size: 60px;
    font-weight: 300;
    
    color: rgba(219, 132, 147,1);
}

/*seccion 3*/

.section3{

    width: 100%;
    
    overflow: hidden;
    
    margin-bottom: 10px;
   border-radius: 1em;
   }

.section3 .div-titulo{
    width: 100%;
    overflow: hidden;
    text-align: center;
    padding: 40px;
}


@font-face{

    src: url("../fuentes/White\ On\ Black.ttf");
    font-family: "myfont";
}

@font-face{

    src: url("../fuentes/Roboto-Thin.ttf");
    font-family: "myfontroboto";
}
.section3 .div-titulo h1{
    font-size: 40px;
    font-weight: 300;
    line-height: 1.2;
    font-family: myfont,serif;
    background: rgb(163, 163, 218);
    color: white;
}

.section3 .div-cajas{
     width: 100%;
     height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
     max-width: 1100px;
     margin: auto;
        
}

.section3 .div-cajas .detalles-mini{
display: none;
            }


.section3 .div-cajas .caja{
    
    width: 30%;
    height: 60%;
    position: relative;
   overflow: hidden;
   margin: 20px;
   border:3px solid rgba(104, 103, 103, 0.7);
}

.section3 .div-cajas .caja img{
width: 100%;
height: 100%;
}

.section3 .div-cajas .capa{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(0, 0, 0, 0.5);
display: flex;
justify-content: center;
align-items: center;
color: #fff;
transform: scale(0);
transition: 0.3s ease ;
}


.section3 .div-cajas .caja:hover .capa{
transform: scale(1);

}


.section3 .div-cajas .caja:hover .close{
position: absolute;
bottom: 0;
right: 0;
color: white;
padding: 0.5em;
}




.ans{

background: rgb(255, 255, 255);
width: 50%;
margin-left: 25%;
border-top: rgba(0, 0, 0,0.5) 2px solid;
text-align: center;
margin-top:1em ;

}

.ans h1{
font-size: 5em;
}

.ans p{

font-size: 1.5em;
font-weight: 300;
font-family: "myfontroboto";
line-height: 1.5;

}


.ans img{
width: 50%;
margin:0.5em;
border:  2px solid rgba(131, 62, 62, 0.2);

}






.section4-6{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100vh;
 
}

.section4-6 .img-fondo{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;

}


.section4-6 .img-fondo img{
position: absolute;
top:0 ;
left: 0;
width: 100%;
height: 100%;
background-position: center;
background-size: cover;

}


.section4-6 .img-fondo::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(102, 99, 102, 0.9);
}


.section4-6 .producto{
    z-index: 0;
font-style: oblique;
font-family: "myfontroboto";
color: white;
width: 50%;
position: absolute;
top: 10%;
left: 5%;
text-align: center; 
line-height: 1.5;
}

.section4-6 .producto .muestra-imagen,.section5 .producto .muestra-imagen{
    display: none;
}

.section4-6 .producto .muestra-descri,.section5 .producto .muestra-descri{
    display: none;
}

.section4-6 .producto h1,.section5 .producto h1{
    font-family: myfont, serif;
    font-size: 50px;

}

.section4-6 .producto .descri,.section5 .producto .descri{
    
    border-style: dotted;
    border-color: rgb(180, 140, 206);
    width: 80%;
    margin: auto;
   font-size: 20px;
 }


.section4-6 .producto ul,.section5 .producto ul{
   
   list-style-type: none;
   margin-top: 2em;
  font-size: 20px;
}


.section4-6 .producto .precio-producto,.section5 .producto .precio-producto{
    
    color: gold;
    font-family: serif;
    font-size: 50px;
    width: 30%;
    margin: 0.5em auto;
    transition: color 0.3s;
  
    
}
.section4-6 .producto .precio-producto:hover,.section5 .producto .precio-producto:hover{
color: rgb(10, 243, 10);
}



.section4-6 .img-producto{

    z-index: 0;
    width: 35%;
    position: absolute;
    top: 20%;
    left: 60%;
 
}
.section4-6 .img-producto img,.section5 .img-producto img{
    width: 100%;
    border-radius: 2em;
    border:5px rgba(255, 255, 255,1) solid;
}


.section4-6 .producto form,.section5 .producto form{

position: absolute;
bottom: 0;
left: 30%;
width: 40%;
}

.section4-6 .producto form input,.section5 .producto form input{
width: 20%;
height: 30px;
font-size: 1.5em;
text-align: center;
background: black;
color: white;
border: 2px double  rgb(180, 140, 206);

}

.section4-6 .producto form button,.section5 .producto form button{
    color: white;
    background: rgb(180, 140, 206);
    padding: 0.5em;
    border-radius: 100%;
    border: white 2px solid;
    cursor: pointer;
    }

    .section4-6 .producto form button:hover,.section5 .producto form button:hover{
        transform: scale(0.98);
    }

.section5{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100vh;

}

.section5 .img-fondo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    }

 .section5 .img-fondo img{
        position: absolute;
        top:0 ;
        left: 0;
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
        
        }

  .section5 .img-fondo::after{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(102, 99, 102, 0.9);
        }


 .section5 .producto{
            z-index: 0;
        font-style: oblique;
        font-family: "myfontroboto";
        color: white;
        width: 50%;
        position: absolute;
        top: 10%;
        left: 50%;
        text-align: center; 
        line-height: 1.5;
        
        }

.section5 .img-producto{

            z-index: 0;
            width: 35%;
            position: absolute;
            top: 20%;
            left: 5%;
         
        }



.section7{

    position: fixed;
    right: 0;
    top: 35%;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 100;
}

.section7 .icon{
color: white;
text-decoration: none;
padding: 0.7rem;
display: flex;
transition: all 0.5s;

}

.section7 .icon-facebook{
    background: #2E406E;
}
.section7 .icon-twitter{
    background: #339DC5;
}
.section7 .icon-whatsapp{
    background: #00bb2d;
}
.section7 .icon-instagram{
    background: #3F60a5;
}
.section7 .icon-youtube{
    background: #E83028;
}
.section7 .icon:first-child{
    border-radius: 1rem 0 0 0;
}

.section7 .icon:last-child{
    border-radius: 0 0 0 1rem;
}
.section7 .icon:hover{
    padding-right: 3rem;
    border-radius: 1rem 0 0 1rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.42);
}
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
footer{

   display: flex;
   align-items: center;
   background:white;
   color: black;
    width: 100%;
    min-height: 100px;
    margin-top: 1em;
    line-height: 1.5;

    
    }

footer ul{
    list-style: none;
    font-family: "myfontroboto";
}

footer a{
    text-decoration: none;
}
    
footer a:hover{
    color: orange;
}

footer h1{
    font-family: myfont;
    color: rgba(219, 132, 147,1);;
}

 footer .foot1{
    
     margin: auto;
    
 }



footer .foot2{
 
     margin: auto ;
}

footer .foot3{
    width: 15%;
    margin: auto;
    
   
}

footer .foot3 img{
    width: 100%;
    height: 100%;
  
}